@model Testing.BLL.DTO.AnswerDTO

@{
    ViewBag.Title = "AddAnswer";
}

<h2>Добавить ответ</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label class="control-label col-md-2">
                Парвильный
            </label>
            <input type="checkbox" name="isRight" value="true" />
        </div>
            <div class="form-group">
                @Html.LabelFor(model => model.AnswerTitle, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                  
                    @Html.EditorFor(model => model.AnswerTitle, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AnswerTitle, "", new { @class = "text-danger" })
                </div>
            </div>
            <input type="hidden" value="@ViewBag.questionId" name="questionId"
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Добавить" class="btn btn-default" />
                </div>
            </div>
        </div>
}


