@model IEnumerable<Testing.BLL.DTO.TestDifficultDTO>

@{
    ViewBag.Title = "ViewDifficultOfTest";
}

<h2>Все возможноные сложности</h2>

<p>
    @Html.ActionLink("Добавить новую сложность", "AddDifficultOfTest")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Difficult)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Difficult)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "EditDifficultOfTest", new { id=item.Id}) |
            @Html.ActionLink("Удалить ", "DeleteDifficultOfTest", new { id=item.Id })
        </td>
    </tr>
}
</table>
