@model Testing.WEB.Models.Testing.QuestionView

@{
    ViewBag.Title = "AddViewQuestion";
}

<h2>AddViewQuestion</h2>
<table class="table">
  
</table>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>QuestionView</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                @Html.TextBox("question", "", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @Html.TextBox("aswer", "", new { @class = "form-control" })
                @Html.TextBox("aswer", "", new { @class = "form-control" })
            </div>
        </div>
        <input type="number" name="subjectId"value="@ViewBag.subjectId"/>
        <input type="number" name="idTest" value="@ViewBag.idTest" />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>

    <p> idTest</p>  @ViewBag.idTest
    <p> questionDTO</p>   @ViewBag.questionDTO
    <p> answerDTO</p>  @ViewBag.answerDTO
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
