@model IEnumerable<Testing.BLL.DTO.SubjectDTO>

@{
    ViewBag.Title = "ViewSubject";
}

<h2>Все предметы</h2>

<p>
    @Html.ActionLink("Добавить предмет", "AddSubject")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Редактировать предмет", "EditSubject", new { id=item.Id }) |
            @Html.ActionLink("Тесты", "ViewTest", "Test", new { id=item.Id }, null) |
            @Html.ActionLink("Экзамены", "ViewExam", "Exam", new { id = item.Id }, null) |
            @Html.ActionLink("удалить предмет", "DeleteSubject", new { id=item.Id }, new { onclick = "return confirm('Вы уверены? Будут удалены все тесты и экзамены связанные с этим предметом')" })
        </td>
    </tr>
}

</table>
